{% extends 'base.html' %}

{% block content %}

<h1>목록</h1>
    <a href="{% url 'blog:postwrite' %}" class="mr-5 hover:text-gray-900">게시물 작성</a>
    <input type="text" name="q" id="search-input">
    <button id="search-btn">검색</button>

    <main id="main">
        {% if post_list.exists %}
        {% for post in post_list %}
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/2 md:w-full">
            <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
                </div>
                <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{ post.title }}</h2>
                <p class="leading-relaxed text-base">{{ post.content | truncatewords:45 }}</p>
                <p class="leading-relaxed text-base">{{ post.created_at }}</p>
                <p class="leading-relaxed text-base">by {{ post.author }}</p>
                <a href="{% url 'blog:postdetail' post.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">상세보기
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
                </div>
            </div>
            </div>
            
        </div>
        
        {% endfor %}
        {% else %}
            <p>아직 게시물이 없습니다.</p>
        {% endif %}
    </main>
    <aside>
        <h2>카테고리</h2>
        <ul>
            {% for category in category_list %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.name }} {{ category.post_set.count }}</a></li>
            {% endfor %}
        </ul>
    </aside>

    <script>
        document.querySelector('#search-btn').addEventListener('click', () => {
            const searchInput = document.querySelector('#search-input');
            const searchValue = searchInput.value;
            location.href = `/blog/?q=${searchValue}`;
        });
    </script>

{% endblock content %}
